* {
	padding: 0;
	margin: 0;
}

header {
	background-color: orange;
	font-family: arial black;
	padding: 20px 0;
}

ul,li{
	display: inline-block;
}

a{
	text-decoration: none;
	margin-left: 80px;
}

a:hover{
	color: black;
	text-decoration: underline;
}

body {
	background-color: skyblue;
}

#imagen {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 40px;
	width: 300px;
}

div {
	padding: 60px;
}	

h1 {
	font-family: forte;
	font-size: 180%;
	text-align: center;
}

.formulario {
	width: 420px;
	border: 2px solid black;
	border-collapse: collapse;
	background-color:#75E871;
	margin: auto;
}

table,th,tr,td {
	width: 100%
	display: block;
	border: 3px solid red ;
	border-collapse: collapse;
    background-color: yellow;
	margin: 20px auto;
	padding: 30px;
}

tr,td{
	padding: 18px;
}

footer {
	background-color: black;
	text-align: center;
	padding: 10px;
	color: white;
}

